name: "Gradle Wrapper"
on: [push, pull_request]
permissions: read-all
jobs:
  validation:
    name: "validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v4
      - uses: gradle/wrapper-validation-action@88425854a36845f9c881450d9660b5fd46bee142 # tag=v1
